.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.section-content {
  display: block;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
}

h3 {
  display: block;
  font-size: 1.57em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;

  margin-top: 1.5rem;
  font-weight: bold;
  line-height: 1.3;
}
